.input-icon {
    position: relative;
  }
  
  .icon-input {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: #811dc3; /* Cor do ícone */
    font-size: 1.1rem; /* Tamanho do ícone */
  }
  
  .rounded-input {
    border-radius: 10px; /* Cantos arredondados */
  }
  
  .btn-cadastro {
    background-color: #811dc3;
    border: none;

    &:hover {
      background-color: #561b7e !important;
    }
  }