.footer {
    background: #fff;
    color: #000;            /* Cor do texto */
    text-align: center;      /* Centraliza o texto */
    padding: 20px;          /* Espaçamento interno */
    position: relative;    /* Permite que o footer fique fixo, se desejado */
    margin-top: -30px;
}

.footer-title {
    margin: 0;                   /* Remove margem padrão */
    font-size: 24px;             /* Tamanho da fonte do título */
}

.footer-contact {
    margin: 10px 0;             /* Espaçamento acima e abaixo */
}

.footer-email {
    color: #000;                /* Cor do email */
    text-decoration: none;       /* Remove o sublinhado */
}

.footer-email:hover {
    text-decoration: underline;  /* Sublinha ao passar o mouse */
}

.footer-phone {
    font-weight: normal;         /* Peso normal para os números */
}

.footer-rights {
    background-color: #fff;
    font-size: 14px;             /* Tamanho da fonte do texto de direitos autorais */
}
