.navbar-custom {
    background-color: transparent !important; 
  }

  .container-nav {
    background-color: transparent !important;
  }
  
  .navbar-custom .nav-link {
    color: #000 !important; // Cor dos links
    font-weight: 800; // Peso intermediário (deixa os nomes mais destacados)
    text-transform: capitalize; // Opcional: Faz a primeira letra de cada palavra ficar maiúscula
    &:hover {
      color: #4a0f72 !important; // Cor ao passar o mouse
      font-weight: bold; // Deixa mais evidente no hover
    }
  }
  
  .navbar-custom .navbar-brand {
    margin-left: 1%;
    color: #000 !important;
    font-weight: bold; // Marca o nome da marca com um peso maior
    &:hover {
      color: #4a0f72 !important;
    }
  }
  
  



/* Estilos para o botão toggle */
.menu-toogle {
    padding: 3px 5px;
    background-color: #fff;  /* Remover o fundo padrão */
    border: 2px solid #fff;  /* Remover a borda padrão */
    outline: none;  /* Remover o contorno ao focar */
}


/* Remover ou ajustar o outline quando o toggle é focado */
.menu-toogle:focus {
    outline: none;
    box-shadow: none; 
}


