.navbar {
    background: #fff;
}

/* Alterar a cor do texto da marca (Navbar.Brand) */
.container-nav .navbar-brand {
    color: #000 !important;  /* Defina a cor desejada */
}

/* Alterar a cor dos links de navegação (Nav.Link) */
.container-nav .nav-link {
    color: #000!important;  /* Cor padrão */
}

.container-nav .nav-link:hover {
    color: #000!important;  /* Cor ao passar o mouse */
}

/* Alterar a cor do dropdown (NavDropdown) */
.container-nav .dropdown-item {
    color: #000 !important;  /* Cor padrão dos itens do dropdown */
}

.container-nav .dropdown-item:hover {
    color: #000 !important;  /* Cor ao passar o mouse */
}

/* Alterar a cor do título do dropdown */
.container-nav .dropdown-toggle {
    color: #000 !important;  /* Cor do título */
}

.btn-Login {
    background-color: transparent;
    border: 1px solid #8A2BE2 !important;
    color: #000;
    padding: 10px 20px;
    margin-right: 30px;
    border-radius: 13px;
}

.btn-Login:hover {
    background-color: #8A2BE2 !important;
}

/* Estilos para o botão toggle */
.menu-toogle {
    padding: 3px 5px;
    background-color: #fff;  /* Remover o fundo padrão */
    border: 2px solid #fff;  /* Remover a borda padrão */
    outline: none;  /* Remover o contorno ao focar */
}


/* Remover ou ajustar o outline quando o toggle é focado */
.menu-toogle:focus {
    outline: none;
    box-shadow: none; 
}


