@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: radial-gradient(circle, #2C003E 30%, #030303 100%);
    font-family: "Nunito", system-ui;
    overflow-x: hidden;
    color: #FFF;
}

.App {
    color: #fff;
    text-align: center;
    align-items: center;
}

