:root {
  --gradiente: linear-gradient(90deg, #C084FC, #60A5FA);
  --bg-principal: #07070C;
  --roxo: #120336;
  --roxo_escuro: #0d0326;
  --azul: #60A5FA;
  --Lavender: #E0D6DE;  /* textos menores */
  --azul-claro: #7AF0FF;
  --branco: #fff;
}

:focus {
  outline: transparent ;
  box-shadow: 0 0 0 2px var(--green-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-principal);
  color: var(--Lavender);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button
{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem; 
}